
body {
    background-image: url("./img/background-img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
}

#header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 50px;
}

#main-img {
    height: 450px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .85;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

#languages {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
}


/* Phones / Ipads */
@media only screen and (max-width: 700px) {
    #header {
        text-align: center;
    }

    #main-img {
        width: 200px;
        height: 250px;
    }

    body {
        background-image: url("./img/background-img.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        background-size: cover;
    }
}

/* 731, 736, 812, 823,  */
